.Contenedor {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Caja1 {
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Caja2 {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Caja3 {
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}